
 <div *ngIf="maxData1">
    <p style="float:right;color:red;font-weight:bold;font-size: medium;">Please enter 6 digit ID number only. </p>
    </div>
    
   
      
<div id="pickrideForm">
    <h1>Pickup Ride</h1>

    <form [formGroup]="myform2" (ngSubmit)="submit(myform2.value)">
      <div class="gridcontainer">
      <input type="text" (keypress)="numberOnly($event)" maxlength="6" minlength="6"
       placeholder="EmployeeID" [(ngModel)]="pickrides.EmployeeID" formControlName="EmployeeID" required>
    
       <select formControlName="VehicleTypes" [(ngModel)]="pickrides.VehicleTypes" required>
          <option [ngValue]="undefined" hidden selected>select vechile type</option>
          <option value="Bike">Bike</option>
          <option value="Car">Car</option>
        </select>
    
        <select formControlName="TimeSelected" [(ngModel)]="pickrides.TimeSelected" required>
            <option [ngValue]="undefined" hidden selected>select pickup time</option>
            <option value="9:00 AM">9:00 AM</option>
            <option value="10:00 AM">10:00 AM</option>
            <option value="9:00 PM">9:00 PM</option>
            <option value="10:00 PM">10:00 PM</option>
          </select>
        </div>
        
       <button type="submit" >Search</button>
       <button type="reset" class="buttonStyle" style="margin-left:7px;">Reset</button>
   </form>
    </div>
    <div style="display:inline-block;width:100%;text-align: center;">
    <div style="display:inline-block;">

      <div *ngIf="edited">
        <p style="float:right;color:red;font-weight:bold;font-size: medium;">Ride with <strong>{{msg}}</strong>at <strong>{{msg1}}</strong> is confirmed.</p>
    </div>

    <div *ngIf="pickride.length==0">
      <p style="float:right;color:red;font-weight:bold;font-size: medium;">No matches are found.</p>
  </div>
</div>
        <h1 style="text-align: center;">Employee Matched Details</h1> 
      </div>
    
    <table id="employeeListDetails">
        <th>Employee ID</th><th>Vehicle No</th><th>Vacant Seats</th><th>Vehicle Type</th><th>Time</th><th>Pick Points</th><th>Destination</th><th></th>
        <tr *ngFor="let x of pickride;let i = index">
        <td>{{x.EmployeeID}}</td>
        <td>{{x.VehicleNo}}</td>
        <td>{{x.VacantSeats}}</td>
        <td>{{x.VehicleType}}</td>
        <td>{{x.Time}}</td>
        <td>{{x.PickPoints}}</td>
        <td>{{x.Destination}}</td>
        <td>
          <button class="confirmclass" (click)="confirmPickUp(i,x)">Confirm</button>
        </td>
        </tr>
        </table>
    
        
