input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonStyle {
  width: 15%;
  background-color: #4e4caf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  
}

.buttonStyle:hover {
  background-color: #4e4caf;
}

#rideForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:70%;
    margin: 0 auto;
  }

  #employeeList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
margin-right: auto;
  }
  
  #employeeList td, #employeeList th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #employeeList tr:nth-child(even){background-color: #f2f2f2;}
  
  #employeeList tr:hover {background-color: #ddd;}
  
  #employeeList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  ::placeholder {
    color:black;
  }
  .green {
    background-color: green;
   }

   .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -10000px;
    overflow: hidden;
  }
  
  .control, fieldset {
    margin: 6px 0;
  }
  
  input {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  }
  
  .required {
    color: red;
  }